[Unit]
Description=Merch PWA Interface
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/merch-pwa
ExecStart=/home/pi/.nvm/versions/node/v16.13.0/bin/yarn start

[Install]
WantedBy=multi-user.target