.App {
  text-align: center;
}

.header-bottle {
  height: 10vmin;
  pointer-events: none;
  padding: 1%;
}

.App-header {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "BlenderPro";
}

.App-link {
  color: #61dafb;
}

.item {
  color: black;
  font-family: "BlenderPro";
}

.itemContents {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1%;
}

.itemContents h4 {
  background-color: gray;
  display: inline-block;
  padding: 1%;
}

.itemBottle {
  height: 20vmin;
  pointer-events: none;
}

.itemPrice {
  background-color: gray;
  display: inline-block;
  padding-left: 10%;
  width: 105%;
}

.itemDetails {
  color: black;
  font-family: "BlenderPro";
  margin-left: 5%;
  margin-bottom: 0;
}

.itemSubDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "BlenderPro";
  color: black;
}

.itemSubDetails h4 {
  background-color: gray;
  display: inline-block;
  padding: 1%;
}

@font-face {
  font-family: "BlenderPro";
  src: local("BlenderPro"), url("./fonts/BlenderPro/BlenderPro-Book.ttf") format("truetype");
}